*{
    margin: 0;
    padding: 0;
}
/* 헤더부분 */
nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding-top: 10px;
    background-color: black;
}
.navbar{
    list-style: none;
    display: flex;
}
.navbar a{
    text-decoration: none;
    color: whitesmoke;
}
.navbar li{
    margin-right: 100px;
}
.nav a{
    text-decoration: none;
    color: whitesmoke;
}
.namelogo a{
    text-decoration: none;
    color: whitesmoke;
}
/* 바디부분 */
section{
    position: relative;
    width: 600px;
    height: 300px;
    box-shadow: 5px 5px 20px gray;
    left: 450px;
    top: 150px;
    animation: movein1 2.5s ease-out;
}
@keyframes movein1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
section h1{
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
section .html{
    display: flex;
    justify-content: center;
}
.vla{
    margin-top: 20px;
    font-size: 25px;
}